body{
    font-family: Montserrat;
}
.navbar{
    color: white;
    font-weight: 600;
}
.navbar-brand h2{
    font-weight: 700;
}
 .display-4 span {
    color: #1D5988;
    font-weight: bold;
    font-size: 4rem;
}
.card-body{
    position: relative;
    overflow: hidden;
}
.bg-img{
 position: absolute;
 bottom: -5px;
 right: -20px;
 width: 50%;
}
.btn-primary{
    background-color: #143f5f;
    border-color:#143f5f;
}
@media (max-width: 600px) {
    .card-body .col-6{
         width:unset;
     }
 }
 @media (max-width: 600px) {
    body{
         font-size: 12px;
     }
 }
 @media (max-width: 600px) {
    .content h5{
         font-size: 0.8rem;
     }
 }
/* resume  */
.bg-cyan{
    background-color: #2AB0A8;
    position: relative;
    overflow: ;
}
.bg-purple{
     background-color: #4d356c;
     border: unset;
     
 }
.bg-purple img{
    mix-blend-mode: lighten;
    height: 200px;
}
.bg-red{
    background-color: #b02a32;
}
@media (max-width: 500px) {
    .contact{
         font-size: 0.6rem;
     }
 }
 .img-cube{
     width: 28%;
     position: absolute;
     right: 50px;
     bottom: -50px;
 }
 @media (max-width: 500px) {
 .img-cube{
    width: 38%;
    position: absolute;
    right: 50px;
    bottom: -20px;
    }
 }
 