body{
    font-family: Montserrat;
}
.navbar{
    color: white;
    font-weight: 600;
}
.navbar-brand h2{
    font-weight: 700;
}
 .display-4 span {
    color: #1D5988;
    font-weight: bold;
    font-size: 4rem;
}
@media (max-width: 600px) {
   .card-body .col-6{
        width:unset;
    }
}
.card-body{
    position: relative;
    overflow: hidden;
}
.bg-img{
 position: absolute;
 bottom: -5px;
 right: -20px;
 width: 50%;
}
.btn-primary{
    background-color: #143f5f;
    border-color:#143f5f;
}

/* resume  */
.bg-cyan{
    background-color: #2AB0A8;
}
.bg-purple{
    background-color: #4d356c;

}
.bg-red{
    background-color: #b02a32;
}
@media (max-width: 500px) {
    .contact{
         font-size: 0.6rem;
     }
 }